@model PracticeCoreCDPs.Areas.Singleton.Core.WebsiteMetadata

<!DOCTYPE html>

<html>
<head>
    <title>Singleton Example</title>
</head>
<body>
<h1>Website Metadata</h1>
<table border="1">
    <tr>
        <td>Title :</td>
        <td>@Model.Title</td>
    </tr>
    <tr>
        <td>Administrator Email</td>
        <td>@Model.AdminEmail</td>
    </tr>
    <tr>
        <td>Default Theme :</td>
        <td>@Model.DefaultTheme</td>
    </tr>
    <tr>
        <td>Log Errors :</td>
        <td>@Model.LogErrors</td>
    </tr>
</table>
</body>
</html>