<html>
<head>
    <title></title>
</head>
<body>
<h1>Execute Query</h1>
<form asp-area="AbsFactory" asp-controller="Home" asp-action="ExecuteQuery">
    <h4>Select Factory :</h4>
    <select name="factorytype">
        <option value="sqlclient">SqlClient</option>
        <option value="oledb">OleDb</option>
    </select>
    <h4>Enter your query :</h4>
    <textarea name="query" rows="4" cols="40"></textarea>
    <br/><br/>
    <input type="submit" value="Execute"/>
</form>
</body>
</html>